* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Futura;
  background-attachment: fixed; }

.grid-container {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

[class*='col-'] {
  display: inline-block;
  min-height: 1px;
  width: 10%; }

.col-1 {
  width: 10%; }

.col-2 {
  width: 20%; }

.col-3 {
  width: 30%; }

.col-4 {
  width: 40%; }

.col-5 {
  width: 50%; }

.col-6 {
  width: 60%; }

.col-7 {
  width: 70%; }

.col-8 {
  width: 80%; }

.col-9 {
  width: 90%; }

.col-10 {
  width: 100%; }

@media (max-width: 550px) {
  [class*='col-'] {
    float: none;
    width: 100%; } }
#stop {
  background-color: white;
  height: 80px;
  box-shadow: 0 4px 35px -15px black;
  position: fixed;
  z-index: 999; }

.topnav {
  overflow: hidden;
  margin-right: 570px;
  margin-top: 13px; }

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

#start {
  margin-top: 80px;
  height: 800px;
  background-repeat: no-repeat;
  background-image: url("./photo-1444201716572-c60ec66d0494.jpg");
  background-size: cover;
  background-position: 50% 80%;
  position: relative; }

#start h2 {
  color: white;
  font-size: 80px;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px black; }

#start p {
  font-family: sans-serif;
  color: white;
  font-size: 22px;
  font-style: italic;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-shadow: 2px 2px 10px black; }

#about {
  height: 500px;
  text-align: justify;
  background-color: white;
  position: relative;
  margin-left: 600px;
  margin-top: 70px;
  margin-bottom: 60px;
  letter-spacing: 0.1em; }

#about h3 {
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
  color: black; }

#about p {
  color: #271E1E;
  font-size: 16px; }

#about ul {
  text-decoration: none;
  list-style: none; }
  #about ul li {
    font-size: 16px;
    color: #271E1E; }

#wspolpraca {
  height: 800px;
  background-color: whitesmoke;
  padding: 100px;
  margin: 0 auto;
  letter-spacing: 0.1em;
  display: flex;
  align-items: start;
  flex-direction: row; }

#icon1 {
  display: table-cell;
  box-shadow: 0 4px 35px -15px black;
  background-color: white;
  padding: 30px; }
  #icon1 h4 {
    letter-spacing: 0.1em;
    margin-left: 150px; }
  #icon1 p {
    width: 400px;
    text-align: justify;
    margin-left: 150px; }

#icon2 {
  display: table-cell;
  box-shadow: 0 4px 35px -15px black;
  background-color: white;
  padding: 30px; }
  #icon2 h4 {
    letter-spacing: 0.1em;
    margin-left: 150px; }
  #icon2 p {
    width: 400px;
    text-align: justify;
    margin-left: 150px; }

#icon3 {
  width: 500px;
  display: table-cell;
  box-shadow: 0 4px 35px -15px black;
  background-color: white;
  padding: 30px;
  align-self: flex-start; }
  #icon3 h4 {
    letter-spacing: 0.1em;
    margin-left: 150px; }
  #icon3 p {
    width: 400px;
    text-align: justify;
    margin-left: 150px; }

/*# sourceMappingURL=style.css.map */
